
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
    ViewBag.Title = "TLViewPage";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TLMainPageView</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Leave Tracker</a>
            </div>
            <ul class="nav navbar-nav">

                <li><a href="#">Register New Member</a></li>
                <li><a href="~/AdminRole/ApplyLeavesforAdmins">Apply Leave</a></li>
                <li><a href="~/AdminRole/ViewLeavesByAdmin">Approve Leaves</a></li>
                <li><a href="#">View Applied Leaves</a></li>
                <li><a href="~/AdminRole/AdminMoreFeature">More Features</a></li>
                <li><a href="~/TLRole/Logout">Logout</a></li>

            </ul>
        </div>
    </nav>
    <div>
        Hi I am the TL header page!!

    </div>


</body>
</html>

