
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MoreFeature</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Leave Tracker</a>
            </div>
            <ul class="nav navbar-nav">
                <li ><a href="#">Home</a></li>
                <li><a href="~/ApplyLeave/ApplyLeaves">Apply Leave</a></li>
                <li><a href="#">Approve Leaves</a></li>
                <li><a href="#">View Applied Leaves</a></li>
                <li class="active"><a href="~/TLRole/TLMoreFeature">More Features</a></li>
                <li><a href="~/TLRole/Logout">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div>
        <ul>
            <li><a href="~/TLRole/FetchProjectDetailsAdmin">View/Add Project</a></li>
        </ul>
    </div>
</body>
</html>
